name: Release

on:
  push:
    branches:
      - main

jobs:
  promote-image:
    runs-on: ubuntu-latest

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Pull test image using the commit SHA
        run: |
          docker pull vanderleiromera/doodba16_odoo:${{ github.event.head_commit.id }}

      - name: Retag and push as production tags
        run: |
          docker tag vanderleiromera/doodba16_odoo:${{ github.event.head_commit.id }} vanderleiromera/doodba16_odoo:latest
          docker tag vanderleiromera/doodba16_odoo:${{ github.event.head_commit.id }} vanderleiromera/doodba16_odoo:prod
          docker push vanderleiromera/doodba16_odoo:latest
          docker push vanderleiromera/doodba16_odoo:prod
